[Unit]
Description=Graceful shutdown service by remote resource monitoring
Requires=network-online.target multi-user.target
After=network-online.target

[Service]
Type=simple
EnvironmentFile=/etc/default/graceful-shutdown
ExecStart=/usr/local/bin/graceful-shutdown.sh $TIMEOUT_MINUTES

[Install]
WantedBy=default.target