[Unit]
Description=Graceful shutdown service by remote resource monitoring
Requires=network-online.target multi-user.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/graceful-shutdown.sh %i

[Install]
WantedBy=default.target